<!DOCTYPE html>
<html>
 <head>
   
   <title>You're a Moderate Environmentalist!</title>
   <link rel="stylesheet" type="text/css" href="css/styles.css">
   
 </head> 
  
  
  <body>
    <h1>You Got: Moderate!</h1>
    <p>You are a moderate environmentalist. Your knowledge about current environmental issues is strong, but there is still so much more to learn! Here are three things you can do to help the environment:</p>
    <ol class="center">
      <li>Start using a compost system to reduce the amouont of waste you produce! </li>
      <li>Use compostable straws to reduce plastic waste.</li>
      <li>Eat local! By doing this, you support local farmers in your community!</li>
    </ol>
    
    <h3>Visit our resources page for more ways you can help your community!</h3>
    <!--<a href "resources page url">resources</a>-->
    
    <img class="image" src="https://images.lifealth.com/uploads/2018/06/Environment-1-1.jpg">
    
  </body>
  
  
</html>












<!--<!DOCTYPE html>-->
<!--<html>-->
<!-- <head>-->
   
<!--   <title>Moderate Environmentalist</title>-->
<!--   <link rel="stylesheet" type="text/css" href="css/styles.css">-->
   
<!-- </head> -->
  
  
<!--  <body>-->
<!--    <h2>You got: Moderate!</h2>-->
<!--    <p>You are a moderate environmentalist. Your knowledge about current environmental issues is strong, but there is still more to learn! Below are three things you can do to help the earth:</p>-->
<!--    <ol>-->
<!--      <li>Thing #1</li>-->
<!--      <li>Thing #2</li>-->
<!--      <li>Thing #3</li>-->
<!--    </ol>-->
    
<!--    <h3>Visit our resources page for more ways you can help your community!</h3>-->
    <!--<a href "resources page url">resources</a>-->
    
<!--  </body>-->
  
  
<!--</html>-->
